#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

#btnGoogle {
    display: grid;
    place-items: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}